<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>Resource_package.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierRegisterAction</servlet-name>
        <servlet-class>Resource_package.SupplierRegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterAction</servlet-name>
        <servlet-class>Resource_package.CustomerRegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addResourceMainAction</servlet-name>
        <servlet-class>Resource_package.addResourceMainAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlaceAction</servlet-name>
        <servlet-class>Resource_package.AddPlaceAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveSupplier</servlet-name>
        <servlet-class>Resource_package.ApproveSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectSupplier</servlet-name>
        <servlet-class>Resource_package.RejectSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierResourceQuantityAction</servlet-name>
        <servlet-class>Resource_package.SupplierResourceQuantityAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistanceAction</servlet-name>
        <servlet-class>Resource_package.AddDistanceAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordAction</servlet-name>
        <servlet-class>Resource_package.ForgotPasswordAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordUpdateAction</servlet-name>
        <servlet-class>Resource_package.ForgotPasswordUpdateAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAction</servlet-name>
        <servlet-class>Resource_package.AddToCartAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditProfileAction</servlet-name>
        <servlet-class>Resource_package.CustomerEditProfileAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerChangePasswordAction</servlet-name>
        <servlet-class>Resource_package.CustomerChangePasswordAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierEditProfileAction</servlet-name>
        <servlet-class>Resource_package.SupplierEditProfileAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierChangePasswordAction</servlet-name>
        <servlet-class>Resource_package.SupplierChangePasswordAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangePasswordAction</servlet-name>
        <servlet-class>Resource_package.AdminChangePasswordAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueriesToAdminAction</servlet-name>
        <servlet-class>Resource_package.QueriesToAdminAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyToQueriesAction</servlet-name>
        <servlet-class>Resource_package.ReplyToQueriesAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRequirementsAction</servlet-name>
        <servlet-class>Resource_package.AddRequirementsAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRequirementCartAction</servlet-name>
        <servlet-class>Resource_package.deleteRequirementCartAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOrderAction</servlet-name>
        <servlet-class>Resource_package.ApproveOrderAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDamageAction</servlet-name>
        <servlet-class>Resource_package.AddDamageAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToBlackListAction</servlet-name>
        <servlet-class>Resource_package.AddToBlackListAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnedResourceAction</servlet-name>
        <servlet-class>Resource_package.ReturnedResourceAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBLUserAction</servlet-name>
        <servlet-class>Resource_package.deleteBLUserAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierRegisterAction</servlet-name>
        <url-pattern>/SupplierRegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterAction</servlet-name>
        <url-pattern>/CustomerRegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addResourceMainAction</servlet-name>
        <url-pattern>/addResourceMainAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlaceAction</servlet-name>
        <url-pattern>/AddPlaceAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveSupplier</servlet-name>
        <url-pattern>/ApproveSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectSupplier</servlet-name>
        <url-pattern>/RejectSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierResourceQuantityAction</servlet-name>
        <url-pattern>/SupplierResourceQuantityAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistanceAction</servlet-name>
        <url-pattern>/AddDistanceAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordAction</servlet-name>
        <url-pattern>/ForgotPasswordAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordUpdateAction</servlet-name>
        <url-pattern>/ForgotPasswordUpdateAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAction</servlet-name>
        <url-pattern>/AddToCartAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditProfileAction</servlet-name>
        <url-pattern>/CustomerEditProfileAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerChangePasswordAction</servlet-name>
        <url-pattern>/CustomerChangePasswordAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierEditProfileAction</servlet-name>
        <url-pattern>/SupplierEditProfileAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierChangePasswordAction</servlet-name>
        <url-pattern>/SupplierChangePasswordAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangePasswordAction</servlet-name>
        <url-pattern>/AdminChangePasswordAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueriesToAdminAction</servlet-name>
        <url-pattern>/QueriesToAdminAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyToQueriesAction</servlet-name>
        <url-pattern>/ReplyToQueriesAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRequirementsAction</servlet-name>
        <url-pattern>/AddRequirementsAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRequirementCartAction</servlet-name>
        <url-pattern>/deleteRequirementCartAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOrderAction</servlet-name>
        <url-pattern>/ApproveOrderAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDamageAction</servlet-name>
        <url-pattern>/AddDamageAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToBlackListAction</servlet-name>
        <url-pattern>/AddToBlackListAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnedResourceAction</servlet-name>
        <url-pattern>/ReturnedResourceAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBLUserAction</servlet-name>
        <url-pattern>/deleteBLUserAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
